[maxscale]
admin_host=0.0.0.0
admin_secure_gui=false
retain_last_statements=1
threads=1
log_info=1
log_debug=1
log_warning=1
log_notice=1

[mysql-master]
address=mysql-master
type=server

[mysql-slave1]
address=mysql-slave1
type=server

[mysql-slave2]
address=mysql-slave2
type=server

[mysql-monitor]
replication_password=rootpass
replication_user=root
module=mariadbmon
password=rootpass
servers=mysql-master,mysql-slave1,mysql-slave2
type=monitor
user=root

[read-write-listener]
port=4000
service=read-write-service
type=listener

[read-write-service]
password=rootpass
router=readwritesplit
type=service
user=root
targets=mysql-master,mysql-slave1,mysql-slave2
